{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'ex02/css/style.css' %}">
</head>
<body>
    <div class="row">
        <div class="column">
            <form action="" method="post" class="personForm">   
                {% csrf_token %}

                {{ form }}
                
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="column">
            <h2>Forms History</h2>
            <ul>
                {% for entry in history %}
                    <li> {{ entry }} </li>
                {% empty %}
                    <li> Nothing to Show! </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>