<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Generated Custom CV</title>
</head>
<body>
<h1>{name}</h1>
<p>"-Who are you?
-A {name} {surname}!"</p>
<p>"Age"
{age}</p>
<p>"Profession"
{profession}</p>
</body>
</html>