{% extends "base.html" %}

{% block title %}Ex01: Django, framework web.{% endblock %}

{% block content %}
Django is a high-level Python web framework created in 2003 by Adrian Holovaty and Simon Willison, originally developed at the Lawrence Journal-World newspaper to manage content efficiently. It was open-sourced in 2005 and named after jazz guitarist Django Reinhardt. Designed for rapid development and clean design, Django follows the Model-View-Template (MVT) pattern and includes powerful features like an ORM, admin interface, and strong security tools. Its philosophy emphasizes reusability, scalability, and the “Don’t Repeat Yourself” (DRY) principle, making it one of the most popular frameworks for building robust web applications in Python.
{% endblock %}